
body {

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background: #222;
}
header {
	max-width: 85%;
	min-height: 70px;
	margin: 0 auto;
	text-align: center;
	background: #111;
	padding-bottom: 20px;
}
.container {
	max-width: 75%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
header .container {
	padding: 50px;

}
.logo {
	text-decoration: none;
	font-weight: 600;
	font-size: 24px;
	color: #888;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}
nav li {
	margin-left: 35px;
}
nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #888;
}

nav a::after {
	content:"";
	display: block;
	width: 0;
	height: 3px;
	background: #999;
	margin-top: 13px;
	transition: .5s;
}
nav a:hover::after {
	width: 100%;
}
/*________________________*/

/*____________________*/

.slider-block {
	max-width: 85%;
	height: 600px;
	margin: 0 auto;
	text-align: center;
	background: #111;
	padding-bottom: 100px;
}
.slider-block p {
	margin: 0;
	color: #999;
	font-size: 20px;
}
.slider-block p span {
	font-weight: 600;
}
.slider-block h1 {
	margin-bottom: 20px;
}
.slider p {
	margin: 30px ;
}
.wrapper {
	margin: 0 auto;
	font-size: 55px;
	font-weight: 300;
	color: #999;
	width: 90%;
	left: 5%;
}

.wave {
	color: #fff;
	-webkit-animation: 3.9s color infinite;
	animation: 3.9s color infinite;
}
@-webkit-keyframes color {
	50% {
		color: #333;
	}
}
@keyframes color {
	50% {
		color: #333;
	}
}
.slider {
	margin: 50px;
	position: relative;
	overflow: hidden;

}
.slider__wrapper {
	display: flex;
	transition: transform 0.6s ease;
}
.slider__item {
	flex: 0 0 100%;
	max-width: 100%;
}
.imgstyle {
	height: 400px;
	overflow: hidden;
}
@media (min-width: 980px) {
	.slider__item {
		flex: 0 0 50%;
		max-width: 50%;
	}
}
.slider__control {
	position: absolute;
	top: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	color: #fff;
	text-align: center;
	opacity: 0.5;
	height: 50px;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, .5);
}
.slider__control:hover,
.slider__control:focus {
	color: #fff;
	text-decoration: none;
	outline: 0;
	opacity: .9;
}
.slider__control_left {
	left: 0;
}
.slider__control_right {
	right: 0;
}
.slider__control::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
}
.slider__control_left::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.slider__control_right::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.news {
	max-width: 85%;
	min-height: 300px;
	background: #000;
	margin:0 auto;
	text-align: center;
	padding: 15px 0;
	color: #888;
}
.news h3 {
	margin: 15px 0 25px 0;
	color: #999;
	font-size: 20px;
	font-weight: 600;
}
.picnews {
	min-width: 90px;
	min-height: 90px;
	border-radius: 5px;
	overflow: hidden;
	margin-right: 10px;
}
.picnews img {
	height: 90px;
}

.newstab {
	margin: 10px 10px;
	max-width: 220px;
	max-height: 150px;
	display: flex;
}
.textnews {
	font-size: 12px;
	display: flex;
	flex-direction: column;
}
.newstab p {
	font-size: 12px;
	line-height: 14px;
}
.about {
	max-width: 85%;
	padding: 70px 0;
	margin: 0 auto;
	background: #333;
}
.video {
	width:100%;
	max-width: 699px;
	min-height: 408px;
}
.video iframe {
	width: 699px;
	height: 420px;
	margin-right: 50px;

}
.about-text {
	width: 100%;
	max-width: 300px;
}
.about-text p {
	font-size: 18px;
	color: #6c6c6c;
	line-height: 25px;
	margin: 32px 0 45px;
}
.team {
	max-width: 85%;
	padding: 70px 0;	
	margin: 0 auto;
	background: #111;
	text-align: center;
	color: #888;
}
.team .container {
	padding-top: 50px;

}
.services h3,
.clients h3,
.portfolio h3,
.contact h3 {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
	margin: 0 0 50px 0;
	padding-top: 100px;
}
.photo {
	width: 230px;
	height: 230px;
	border-radius: 20%;
	overflow: hidden;
	margin: 0 auto;
}
.photo img {
	height: 250px;
	transform: translateX(-10px);
	filter: blur(0);
}
.photo:hover img{
	filter: blur(3px);
}
.man {
	width: 250px;

}
.man h6 {
	font-size: 20px;
	margin: 22px 0 8px;
}
.prof {
	font-size: 16px;
}
.man p {
	font-size: 14px;
	line-height: 24px;
}
.services {
	max-width: 85%;
	min-height: 735px;
	background: #333;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 30px; 
}
.services h3 {
	color: #888;
}
.podtext {
	font-size: 16px;
	color: #6c6c6c;
	line-height: 24px;
	font-style: italic;
	margin: 30px auto;
}
.serv-item {
	width: 240px;
	min-height: 300px;
	border: 1px solid #888;
	border-radius: 15px;
	padding: 20px 10px;
	margin: 20px 5px;
	box-shadow: 0 0 10px rgba(0,0,0,2);
}
.btn {
	width: 70px;
	height: 30px;
	font-size: 16px;
	font-weight: 600;
	color: #888;
	cursor: pointer;
	border:none;
	border-radius: 5px;
	background: #444;
	box-shadow: 0 0 10px rgba(0,0,0,2);
	margin: 15px;
	text-shadow: 0 0 10px rgba(0,0,0,1)
}

.modal {
	opacity: 0;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	transition: 0.3s ease-in-out;
}
.modal__box {
	max-width: 40%;
	padding: 30px 20px;
	background: #333;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	text-align: center;
	transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
	transform: rotate(5deg) translate(-16px, 16px);
	border-top: 5px solid #da513d;
	border-bottom: 5px solid #ddd;

}
.btn:focus + .modal {
	opacity: 1;
	visibility: visible;
}
.btn:focus + .modal .modal__box {
	transform: rotate(0deg) translate(0, 0);
}
.modal__box img {
	max-width: 35%;
}
.serv-icon img {
	max-height: 114px;
}
.serv-icon {
	width: 170px;
	height: 114px;
	border-radius: 50%;
	border: 3px solid #888;
	margin: 0 auto;
	transition: 2s;
	overflow: hidden; 
	box-shadow: 0 0 10px rgba(0,0,0,1)
}
.price {
	margin-bottom: 10px;
	color: #888;
	font-size: 26px;
}
.cart {
	color: #888;
	font-size: 40px;
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	text-shadow: 0 0 10px rgba(0,0,0,1)
}
.serv-icon:hover {
	transform: rotateY(1turn);
}
.serv-item h5 {
	margin: 30px 0 20px;
	text-transform: uppercase;
	color: #888;
	font-weight: 600;
	font-size: 25px;
}
.serv-item p {
	color: #888;
	font-size: 14px;
	line-height: 21px;
	margin: 0;
}
.clients {
	max-width: 85%;
	min-height: 520px;
	margin: 0 auto;
	background: #0b0b0b;
	text-align: center;
}
.clients h3 {
	color: #fff;
}

.clients h3 span,
.portfolio h3 span {
	font-weight: bold;
}
.clients .container {
	padding-top: 50px;
	max-width: 960px;
}
.clients img {
	max-width: 300px;
	margin: 10px auto 10px;
	padding-right: 10px;
	padding-left: 10px;
}
@media(max-width: 420px){
	.clients img {
		max-width: 90%;
	}
};

.portfolio {
	max-width: 85%;
	height: 100%;
	background: #333;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
}
.session1 {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.session1 img {

	filter: blur(0);
}
.session1:hover img{
	filter: blur(5px);
}
.session {
	display: flex;
	flex-direction: column;
	margin: 20px;
}
.portfolio a {
	max-width: 400px;
	max-height: 250px;
	font-size: 26px;
	font-weight: 400;
	text-decoration: none;
	color: #6c6c6c;
}

.portfolio img {
	max-width: 300px;
	max-height: 150px;
	overflow: hidden;
	margin: 10px auto 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.portfolio .container {
	display: flex;
	justify-content: center;
}
.portfolio h3 {
	color: #111;
}
.wrapper-contact {
	max-width: 85%;
	background: #111;
	color: #999;
	margin: 0 auto;
	text-align: center;
}
.wrapper-contact p {
	margin: 25px 0 0 0;
}
.contact h3 {
	text-transform: uppercase;
	font-size: 44px;
	font-weight: 400;
	margin: 0 auto;
	padding-top: 30px;
	color: #888;
}
.contact {
	max-width: 85%;
	min-height: 835px;
	background: #111;
	margin:0 auto;
	text-align: center;
}
.address {
	margin: 0 auto;
	max-width: 355px;
	height: 200px;
	text-align: right;
	font-size: 20px;
	line-height: 18px;
	font-weight: 600;
	color: #888;
}
@media(max-width: 450px) {
	.address iframe {
		width: 90%;
	}	
}
.contact .container {
	max-width: 750px;
	justify-content: space-between;
}
.contact-block {
	max-width: 750px;
	text-align: left;
	font-size: 14px;
}

.contact-form {
	min-width: 358px;
	height: 40px;
	margin: 0 auto;
}
.message-form {
	width: 100%;
	max-height: 165px;
}

.contact button {
	width: 165px;
	height: 40px;
	background: #999;
	font-weight: bold;
	color: #111;
	text-transform: uppercase;
	cursor: pointer;
	border:none;
	font-size: 16px;
	margin: 32px auto;
	display: flex;
	justify-content: center;
}
.contact form {
	max-width: 750px;
	margin:25px auto 0;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.contact input {
	width: 358px;
	height: 50px;
	background: none;
	border:1px solid;
	padding:0 20px;
	box-sizing: border-box;
}
.contact textarea {
	width: 100%;
	height: 210px;
	background: none;
	border:1px solid;
	padding:20px;
	box-sizing: border-box;
	margin:30px 0;
	resize: none;
}

footer {

	width: 100%;
	height: 92px;
	background-color: #222;
	text-align: center;
}
.social {
	margin-top: 50px;
}
footer a {
	margin: 0 10px;
	font-size: 30px;
	color: #888;
}
footer p {
	margin: 20px auto;
	color: #888;

}

.top {
	width: 50px;
	height: 50px;
	background:rgba(11, 11, 11, .8);
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	position: fixed;
	right: 3%;
	bottom: 7%;
	outline: none;
}

@media(max-width: 1160px) {
	.container {
		padding-left:15px;
		padding-right:15px;
	}
	.team .container,
	.services .container {
		justify-content: center;
	}
	.man,
	.serv-item {
		margin: 0 50px 50px;
	}

}
@media(max-width: 1000px) {
	.clients .container {
		justify-content: space-between;
		align-items: center;
	}
	.about .container {
		flex-direction: column;
		align-items: center;
	}
	.about {
		padding: 50px 0;
	}
	.video {
		margin-bottom: 35px;
	}
	.video iframe {
		width: 100%;
		margin: 0; 
	}
	.about-text h2 {
		font-size: 22px;
	}
	



}


@media(max-width: 850px) {
	.btn {
		display: none;
	}
	.video iframe {
		width: 100%;
		margin: 0; 
	}
	.team .container {
		justify-content: center;
	}
	.man {
		margin: 0 20px 20px;
	}
	nav ul {
		flex-direction: column;
	}
	nav li {
		margin:0;
	}
	nav a {
		display: block;
		height: 50px;
		background: #333;
		line-height: 50px;
		border-bottom: 5px solid #222;
		border-radius: 20px;
		color: #000;
	}
	nav a::after {
		display: none;
	}
	nav a:hover {
		color:#fff;
		background: #333;
	}
	header .container {
		flex-direction: column;
		padding-top: 20px;
	}
	nav {
		margin-top: 25px;
	}
	nav ul {
		justify-content: center;
	}
	nav li {
		margin: 0 15px;
	}
	header h1 {
		margin-top: 40px;
	}
	header {
		min-height: auto;
		padding-bottom: 25px;
	}
}
@media(max-width: 600px) {
	.team h3::after,
	.services h3::after,
	.clients h3::after,
	.portfolio h3::after,
	.contact h3::after {
		width: 90%;
	}
	.slider {
		display: none;
	}
	.slider-block {
		height: 100%;
	}
	.contact-form {
		max-width: 100%;
		height: 40px;
	}
	
	.callback-bt {
		display: none;
	}
}
@media(max-width: 420px) {
	.wrapper {
		font-size: 40px;
	}
}
@media(max-width: 360px) {
	.contact input {
		width: 90%;
	}
}



.btn {
	width: 70px;
	height: 30px;
	font-size: 16px;
	font-weight: 600;
	color: #888;
	cursor: pointer;
	border:none;
	border-radius: 5px;
	background: #444;
	box-shadow: 0 0 10px rgba(0,0,0,2);
	margin: 15px;
	text-shadow: 0 0 10px rgba(0,0,0,1)
}

.callback-bt {
	background:#333;
	cursor:pointer;
	
	text-align:center;
	
	position: fixed;
	right: 2.5%;
	bottom: 25%;
	z-index:999;
	transition:.3s;
	-webkit-animation:hoverWave linear 1s infinite;
	animation:hoverWave linear 1s infinite;
}

.callback-bt .text-call{
	height:68px;
	width:68px;        
	
	position:relative;
	overflow:hidden;
}

.callback-bt .text-call span {
	text-align: center;
	color:#333;
	opacity: 0;
	font-size: 0;
	position:absolute;
	right: 4px;
	top: 22px;
	line-height: 14px;
	font-weight: 600;
	text-transform: uppercase;
	transition: opacity .3s linear;
	font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.callback-bt .text-call:hover span {
	opacity: 1;
	font-size: 11px;
}
.callback-bt:hover i {
	display:none;
}

.callback-bt:hover {
	z-index:1;
	background:#999;
	color:transparent;
	transition:.3s;
}
.callback-bt:hover i {
	color:#38a3fd;
	font-size:40px;
	transition:.3s;
}
.callback-bt i {
	color:#fff;
	font-size:34px;
	transition:.3s;
	line-height: 66px;transition: .5s ease-in-out;
}

.callback-bt i  {
	animation: 1200ms ease 0s normal none 1 running shake;
	animation-iteration-count: infinite;
	-webkit-animation: 1200ms ease 0s normal none 1 running shake;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
	0% {
		box-shadow:0 8px 10px rgba(174,180,186,0.3),0 0 0 0 rgba(174,180,186,0.2),0 0 0 0 rgba(174,180,186,0.2)
	}
	40% {
		box-shadow:0 8px 10px rgba(174,180,186,0.3),0 0 0 15px rgba(174,180,186,0.2),0 0 0 0 rgba(174,180,186,0.2)
	}
	80% {
		box-shadow:0 8px 10px rgba(174,180,186,0.3),0 0 0 30px rgba(174,180,186,0),0 0 0 26.7px rgba(174,180,186,0.067)
	}
	100% {
		box-shadow:0 8px 10px rgba(174,180,186,0.3),0 0 0 30px rgba(174,180,186,0),0 0 0 40px rgba(174,180,186,0.0)
	}
	}@keyframes hoverWave {
		0% {
			box-shadow:0 8px 10px rgba(174,180,186,0.3),0 0 0 0 rgba(174,180,186,0.2),0 0 0 0 rgba(174,180,186,0.2)
		}
		40% {
			box-shadow:0 8px 10px rgba(174,180,186,0.3),0 0 0 15px rgba(174,180,186,0.2),0 0 0 0 rgba(174,180,186,0.2)
		}
		80% {
			box-shadow:0 8px 10px rgba(174,180,186,0.3),0 0 0 30px rgba(174,180,186,0),0 0 0 26.7px rgba(174,180,186,0.067)
		}
		100% {
			box-shadow:0 8px 10px rgba(174,180,186,0.3),0 0 0 30px rgba(174,180,186,0),0 0 0 40px rgba(174,180,186,0.0)
		}
	}


	@keyframes shake {
		0% {
			transform: rotateZ(0deg);
			-ms-transform: rotateZ(0deg);
			-webkit-transform: rotateZ(0deg);
		}
		10% {
			transform: rotateZ(-30deg);
			-ms-transform: rotateZ(-30deg);
			-webkit-transform: rotateZ(-30deg);
		}
		20% {
			transform: rotateZ(15deg);
			-ms-transform: rotateZ(15deg);
			-webkit-transform: rotateZ(15deg);
		}
		30% {
			transform: rotateZ(-10deg);
			-ms-transform: rotateZ(-10deg);
			-webkit-transform: rotateZ(-10deg);
		}
		40% {
			transform: rotateZ(7.5deg);
			-ms-transform: rotateZ(7.5deg);
			-webkit-transform: rotateZ(7.5deg);
		}
		50% {
			transform: rotateZ(-6deg);
			-ms-transform: rotateZ(-6deg);
			-webkit-transform: rotateZ(-6deg);
		}
		60% {
			transform: rotateZ(5deg);
			-ms-transform: rotateZ(5deg);
			-webkit-transform: rotateZ(5deg);
		}
		70% {
			transform: rotateZ(-4.28571deg);
			-ms-transform: rotateZ(-4.28571deg);
			-webkit-transform: rotateZ(-4.28571deg);
		}
		80% {
			transform: rotateZ(3.75deg);
			-ms-transform: rotateZ(3.75deg);
			-webkit-transform: rotateZ(3.75deg);
		}
		90% {
			transform: rotateZ(-3.33333deg);
			-ms-transform: rotateZ(-3.33333deg);
			-webkit-transform: rotateZ(-3.33333deg);
		}
		100% {
			transform: rotateZ(0deg);
			-ms-transform: rotateZ(0deg);
			-webkit-transform: rotateZ(0deg);
		}
	}

	@-webkit-keyframes shake {
		0% {
			transform: rotateZ(0deg);
			-ms-transform: rotateZ(0deg);
			-webkit-transform: rotateZ(0deg);
		}
		10% {
			transform: rotateZ(-30deg);
			-ms-transform: rotateZ(-30deg);
			-webkit-transform: rotateZ(-30deg);
		}
		20% {
			transform: rotateZ(15deg);
			-ms-transform: rotateZ(15deg);
			-webkit-transform: rotateZ(15deg);
		}
		30% {
			transform: rotateZ(-10deg);
			-ms-transform: rotateZ(-10deg);
			-webkit-transform: rotateZ(-10deg);
		}
		40% {
			transform: rotateZ(7.5deg);
			-ms-transform: rotateZ(7.5deg);
			-webkit-transform: rotateZ(7.5deg);
		}
		50% {
			transform: rotateZ(-6deg);
			-ms-transform: rotateZ(-6deg);
			-webkit-transform: rotateZ(-6deg);
		}
		60% {
			transform: rotateZ(5deg);
			-ms-transform: rotateZ(5deg);
			-webkit-transform: rotateZ(5deg);
		}
		70% {
			transform: rotateZ(-4.28571deg);
			-ms-transform: rotateZ(-4.28571deg);
			-webkit-transform: rotateZ(-4.28571deg);
		}
		80% {
			transform: rotateZ(3.75deg);
			-ms-transform: rotateZ(3.75deg);
			-webkit-transform: rotateZ(3.75deg);
		}
		90% {
			transform: rotateZ(-3.33333deg);
			-ms-transform: rotateZ(-3.33333deg);
			-webkit-transform: rotateZ(-3.33333deg);
		}
		100% {
			transform: rotateZ(0deg);
			-ms-transform: rotateZ(0deg);
			-webkit-transform: rotateZ(0deg);
		}
	}


