 @font-face { font-family: 'BebasNeueBold'; src: url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg'), url('../fonts/BebasNeueBold.ttf') format('truetype'), url('../fonts/BebasNeueBold.woff') format('woff'); font-weight: normal; font-style: normal; } @font-face { font-family: 'BebasNeueBold'; src: url('../fonts/ofont.ru_Bebas Neue.eot'); src: url('../fonts/ofont.ru_Bebas Neue.eot?#iefix') format('embedded-opentype'), url('../fonts/ofont.ru_Bebas Neue.woff2') format('woff2'); font-weight: normal; font-style: normal; }





 @import 'normalize';
 @import 'owl.carousel';


 body {
   font-family: 'BebasNeueBold';
 }

 .wrapper {
  width: 1700px;
  margin: 0 auto;
}

@mixin flex($jc) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $jc;
}

.container {
  max-width: 1400px;
  @include flex(space-between);
  margin: 0 auto;
}

.top-line {
  min-height: 65px;
  background: #0e0e0e;

  .container {
    min-height: 65px;
    align-items: center;
  } 
  .slogan {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    color: #767676;
  }
}
.user-block {
  width: 210px;
  @include flex(space-between);

  a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  .count {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #b6907e;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-right: auto;
    margin-left: 7px;
  }
  & a:nth-child(2) {
    margin-left: auto;
    margin-right: 7px;
  }
}

.slider-block {
  position: relative;
  height: 750px;
}

.header-slider {
  position: absolute;
  height: 760px;
  overflow: hidden;
}
.header-slider .owl-item::after {
  content: "";
  display: block;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  background: linear-gradient(to bottom, rgba(0,0,0,.9) 5%, rgba(0,0,0,0) 100%);
}

.header-slider .owl-item img {
  display: inline-block;
  width: auto;
}

.header-slider .owl-item {
  text-align: right;
  background: #000;
}

header {
  min-height: 120px;
  position: relative;
  z-index: 10;
  .container {
    min-height: 120px;
    align-items: center;
  }
  .logo {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    span {
      font-size: 14px;
      font-family: 'PT Sans', sans-serif;
      font-style: italic;
      color: #818181;
      text-transform: capitalize;
      vertical-align: middle;
      margin-left: 20px;
    }
  }
}

.callback {
  text-decoration: none;
  color: #fff;
  font-size: 24px;

  i {
    transform: rotate(-45deg);
    margin-right: 30px;
    color: #b6907e;
  }
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @include flex(flex-start);
  }

  li {
    margin: 0 39px;
  }

  a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;

    &:hover {
      color: #977869;
      border-bottom: 2px solid #977869;
    }
  }
}
.slider-block > .container {
  @include flex(flex-start);
}
.slider-text {
  width: 550px;
  margin-top: 100px;
  position: relative;
  z-index: 10;
  h1 {
    color: #fff;
    font-size: 82px;
    margin: 0 0 70px;
  }
  a {
    display: inline-block;
    border: 2px solid #977869;
    text-decoration: none;
    color: #977869;
    font-size: 18px;
    padding: 20px 32px;
    margin-right: 30px;
  }

}

.owl-dots {
  position: absolute;
  left: 150px;
  bottom: 85px;
}
.owl-carousel button.owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #5b483f;
  margin-right: 18px;
  outline: none;
}
.owl-carousel button.owl-dot.active,
.owl-carousel button.owl-dot:hover {
  background: #b6907e;
}

.about {
  padding: 220px 0;
  background: url(../img/about-bg.jpg) center/cover no-repeat;

  .container {
    @include flex(flex-end);
  }
  &-slider {
    width: 700px;
    color: #fff;
    text-align:left;
    h2 {
      font-size: 48px;
      color: #fff;
      margin: 0;
    }
    p {
      font-family: 'PT Sans', sans-serif;
      font-size: 24px;
      color: #858585;
      line-height: 47px;
    }
  }
}


.about-slider .owl-nav {
  position: absolute;
  top: -70px;
  left:0;
}

.about-slider .owl-nav button.owl-prev,
.about-slider .owl-nav button.owl-next {
  font-size: 30px;
  outline: none;
}
.about-slider .owl-nav button.owl-next {
 margin-left: 40px;
}

.collections {
  min-height: 900px;
  background: #000;
  margin: 0 auto;
  padding-top: 92px;

  .container {
    @include flex(space-between);
    align-items: center;
  }
  h2 {
    color: #fff;
    font-family: 'BebasNeueBold';
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
  }
  a {
    margin-left: 50px;
    color: #fff;
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.35px;
    text-decoration: none;
  }
  a:hover {
    background: #b6907e;
  }
}
.collection-slider {
  width: 1400px;
  height: 630px;
}

.collections-item {
  width: 420px;
  height: 630px; 
  border: 1px solid #2b2b2b;
  margin-left: 25px;


  img {
    max-width: 247px;
    max-height: 384px; 
    flex: 0 33%;
    margin:50px auto;
  }

  h4 {
    color: #f5f5f5;
    font-family: 'BebasNeueBold';
    font-size: 30px;
    font-weight: 400; 
    text-align: center;
    margin: 0 auto;
  }
  p {
    color: #b6907e;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    text-align: center;
    margin-bottom: 0;
  }
}


.collection-slider .owl-nav button.owl-prev,
.collection-slider .owl-nav button.owl-next {
  display: block;
  font-size: 40px;
  position: absolute;
  outline: none;
  color: #2b2b2b;
}

.collection-slider .owl-nav {
 position: absolute;
 top: 50%;
 width: 100% ;
}
.collection-slider .owl-nav button.owl-prev {
  left: -52px;
}
.collection-slider .owl-nav button.owl-next {
  right: -52px;
}
.logos {
  height: 280px;
  background: #0e0e0e;
  margin: 0 auto;
  @include flex(space-between);
  align-items: center;
  .tm {
    @include flex(space-between);
    align-items: center;
    width: 1400px;
    margin: 0 auto;
  }
}



.customers {
  width: 1700px;
  height: 720px;
  background-color:#000;
  margin: 0 auto;
  h2 {
    color: #fff;
    font-family: "BebasNeueBold";
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
    padding-top: 90px;
  }
}
.customers-slider {
  width: 1230px;
  height: 370px;
  margin: 132px auto 0;
}
.customers-block {
  width: 535px;
  height: 264px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  img {
    max-width: 120px;
    max-height: 120px;
  }
  h6 {
    margin:33px 0 0 60px;
    color: #fff;
    font-family: "BebasNeueBold";
    font-size: 36px;
    font-weight: 400;
  }
  p {
    margin: 45px 0 0 60px;
    color: #767676;
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
  }
}
.customers-text {
  width: 335px;
  height: 230px;
}

.owl-dots {
  position: absolute;
  left: 50%;
  bottom: 20px;
}

.owl-carousel button.owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #5b483f;
  margin-right: 18px;
  outline: none;
}

.owl-carousel button.owl-dot.active,
.owl-carousel button.owl-dot:hover {
  background: #b6907e;
}

footer {
  width:1700px;
  height: 463px;
  background: #0e0e0e;
  margin: 0 auto;
  padding-top: 95px;
  .container {
    height: 290px;
    @include flex(space-between);

  }
  .footlogo {
    width:450px;
    height: 275px;
    h2 {
      color: #fff;
      font-family: 'BebasNeueBold';
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 27px;
    }
    p {
      color: #818181;
      font-family: 'PT Sans';
      font-size: 14px;
      font-style: italic;
      text-transform: capitalize;
    }
  }
  .footmenu {
    width: 540px;
    height: 275px;
    @include flex(flex-start);
    h2 {
      width: 540px;
      color: #ffffff;
      font-family: 'BebasNeueBold';
      font-size: 30px;
      font-weight: 400;
      margin-bottom:50px;
    }
    .column {
      width: 180px;
      margin:0;
      @include flex(flex-start);
      flex-direction: column;
    }
    a {
      margin-bottom: 35px;
      text-decoration: none;
      font-size: 18px;
      color: #5e5d5d;
      &:hover {
        color: #977869;
      }
    }
  }

  .newsletter {
    width: 410px;
    height: 275px;
    h2 {
      color: #ffffff;
      font-family: 'BebasNeueBold';
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 44px;
    }
    input {
      width: 246px;
      height: 50px;
      outline: none;
      border: 1px solid #2b2b2b;
      background: #0e0e0e;
      color: #fff;
      font-family: "PT Sans";
      font-size: 18px;
      padding: 0 10px 0 30px;

      &::placeholder {
        color: #494949;
        font-family: "PT Sans";
        font-size: 18px;
        font-weight: 400;
      }
    }
    button {
      position: absolute;
      border: 1px solid #2b2b2b;
      width: 150px;
      height: 52px;
      background: #b6907e;
      border:none;
      color: #705142;
      font-family: 'BebasNeueBold';
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 1.8px;
    }
  }



  .socials {
    width: 1400px;
    margin: 35px auto;
    @include flex(space-between);
    align-items: center;

    h4 {
      color: #494949;
      font-family: 'PT Sans';
      font-size: 16px;
      font-weight: 400;
    }
    i{
      color: #333333;
      margin-left: 23px;
      font-size: 18px;
      font-weight: 400;
      text-decoration: none;
      &:hover {
        color:#fff;
        font-size: 28px;
      }
    }
  }



}